/* Optional stuff, it's all opt-in by default but just delete anything you don't like */

/*
 * Denser grid
 * Decreases padding for home page thumbnails as well as
 * show more thumbnails per row, may have slight visual bugs
 * when thumbnails are loading
 */
#contents.ytd-rich-grid-renderer {
    margin: 10px;
    --ytd-rich-grid-item-margin: 10px !important;
}
ytd-rich-item-renderer {
    margin-bottom: 20px !important;
}
#contents > ytd-rich-grid-row,
#contents > ytd-rich-grid-row > #contents {
    display: contents;
}

@media (min-width: 1100px) and (max-width: 2100px) {
    #contents.ytd-rich-grid-renderer {
        --ytd-rich-grid-items-per-row: 5 !important;
    }
}
@media (min-width: 800px) and (max-width: 1100px) {
    #contents.ytd-rich-grid-renderer {
        --ytd-rich-grid-items-per-row: 4 !important;
    }
}
@media (min-width: 2100px) {
    #contents.ytd-rich-grid-renderer {
        --ytd-rich-grid-items-per-row: 6 !important;
    }
}
