/* Buttons and UI fixes */

/* Subscribe button */
#owner.ytd-watch-metadata .yt-spec-button-shape-next--mono.yt-spec-button-shape-next--filled,
#owner.ytd-watch-metadata .yt-spec-button-shape-next--mono.yt-spec-button-shape-next--tonal {
    background-color: var(--yt-spec-brand-button-background) !important;
    border-radius: 2px;
    color: var(--yt-spec-static-brand-white) !important;
    padding: var(--yt-button-padding) !important;
    margin: auto var(--ytd-subscribe-button-margin,4px) !important;
    font-size: var(--ytd-tab-system-font-size) !important;
    font-weight: var(--ytd-tab-system-font-weight) !important;
    letter-spacing: var(--ytd-tab-system-letter-spacing) !important;
    text-transform: var(--ytd-tab-system-text-transform) !important;
}

/* Already subscribed button */
#owner.ytd-watch-metadata .yt-spec-button-shape-next--mono.yt-spec-button-shape-next--tonal {
    background-color: var(--yt-spec-badge-chip-background) !important;
    color: var(--yt-spec-text-secondary) !important;
}

/* Move subscribe button to right */
#owner.ytd-watch-metadata {
    justify-content: space-between !important;
}

.item.ytd-watch-metadata {
    margin-right: 0 !important;
}

/* Old username style */
#text.ytd-channel-name {
    color: rgb(255, 255, 255) !important;
    font-family: Roboto, Arial, sans-serif !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    line-height: 20px !important;
}

/* Playlists page left side */
.immersive-header-background-wrapper.ytd-playlist-header-renderer {
    opacity: 0.2 !important;
}

/* Buttons no margin: */
#flexible-item-buttons.ytd-menu-renderer:not(:empty)>.ytd-menu-renderer[button-renderer] {
    margin-left: 0 !important;
}

/* Video buttons: no bg and border: */
ytd-watch-metadata[flex-menu-enabled] #actions.ytd-watch-metadata ytd-menu-renderer.ytd-watch-metadata .yt-spec-button-shape-next--size-m,
ytd-watch-metadata[flex-menu-enabled] #actions.ytd-watch-metadata ytd-menu-renderer.ytd-watch-metadata .yt-spec-button-shape-next--mono.yt-spec-button-shape-next--tonal {
    border-radius: 2px !important;
    background-color: transparent !important;
}

/* Video buttons: Remove labels for clip, share, and save */
#actions.ytd-watch-metadata ytd-segmented-like-dislike-button-renderer .yt-spec-button-shape-next--button-text-content {
    display: block !important;
}
#actions.ytd-watch-metadata ytd-segmented-like-dislike-button-renderer .yt-spec-button-shape-next__icon {
    margin-right: 6px !important;
    margin-left: -6px !important;
}
#actions.ytd-watch-metadata .yt-spec-button-shape-next--button-text-content {
    display: none !important;
}
#actions.ytd-watch-metadata .yt-spec-button-shape-next__icon {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

/* Thumbnail channel name */
#text.ytd-channel-name {
    color: var(--yt-spec-text-secondary) !important;
    font-size: 12px !important;
    font-weight: 400 !important;
    line-height: 18px !important;
}
