/* Change border-radius for most elements: */

:root {
    --border-radius: 0px;
    --yt-img-border-radius: var(--border-radius) !important;
    --paper-menu-button-content-border-radius: var(--border-radius) !important;
}

/** Search button in nav, rounded on right */
ytd-searchbox[desktop-searchbar-style=rounded_corner_borders_light_btn] #search-icon-legacy.ytd-searchbox,
ytd-searchbox[desktop-searchbar-style=rounded_corner_autofocus] #search-icon-legacy.ytd-searchbox {
    border-radius: 0 var(--border-radius) var(--border-radius) 0 !important;
}

/** Nav search input, rounded on left */
ytd-searchbox[desktop-searchbar-style=rounded_corner_borders_light_btn] #container.ytd-searchbox,
ytd-searchbox[desktop-searchbar-style=rounded_corner_autofocus] #container.ytd-searchbox {
    border-radius: var(--border-radius) 0 0 var(--border-radius) !important;
}

/** Playlist container */
ytd-playlist-panel-renderer[modern-panels]:not([within-miniplayer]) #container.ytd-playlist-panel-renderer,

/* Thumbnails */
ytd-thumbnail[size=medium] a.ytd-thumbnail, ytd-thumbnail[size=medium]:before,
ytd-thumbnail[size=large] a.ytd-thumbnail, ytd-thumbnail[size=large]:before,
ytd-playlist-thumbnail[size=medium] a.ytd-playlist-thumbnail,
ytd-playlist-thumbnail[size=medium]:before,
ytd-ghost-grid-renderer[rounded-container] .rich-thumbnail.ytd-ghost-grid-renderer,

/* Selecting a playlist / channel on left */
ytd-guide-entry-renderer[guide-refresh],
ytd-mini-guide-entry-renderer[guide-refresh],
ytd-guide-entry-renderer[guide-refresh] yt-interaction.ytd-guide-entry-renderer,
ytd-guide-entry-renderer[guide-refresh] #endpoint.yt-simple-endpoint.ytd-guide-entry-renderer:hover,
ytd-guide-entry-renderer[guide-refresh] #endpoint.yt-simple-endpoint.ytd-guide-entry-renderer:focus,

/* Description */
ytd-watch-metadata[modern-metapanel] #description.ytd-watch-metadata,
yt-interaction.rounded-large .fill.yt-interaction,
yt-interaction.rounded-large .stroke.yt-interaction,

/* Cards for games / category */
ytd-rich-metadata-renderer[rounded],

/* Popups */
ytd-menu-popup-renderer[sheets-refresh],
.ytp-settings-menu.ytp-rounded-menu,
.ytp-screen-mode-menu.ytp-rounded-menu,
ytd-multi-page-menu-renderer[sheets-refresh],
.dropdown-content.tp-yt-paper-menu-button,
yt-dropdown-menu[rounded-container],
yt-dropdown-menu[modern-dialogs] #menu.yt-dropdown-menu,
ytd-menu-popup-renderer[sheets-refresh],

/* Playlist video */
ytd-playlist-video-renderer[amsterdam],

/* Modal */
tp-yt-paper-dialog[modern],

/* Playlist page side */
.immersive-header-container.ytd-playlist-header-renderer,
.image-wrapper.ytd-hero-playlist-thumbnail-renderer,

/* Search results */
.sbdd_b,

/* Looking for something different? */
#content-wrapper.ytd-feed-nudge-renderer,


/* Thread posts */
ytd-backstage-post-thread-renderer[rounded-container],

/* Channel video player */
.ytd-channel-video-player-renderer,

/* Live chat */
ytd-live-chat-frame[rounded-container],
ytd-live-chat-frame[rounded-container] #show-hide-button.ytd-live-chat-frame ytd-toggle-button-renderer.ytd-live-chat-frame,

/* Toasts */
yt-notification-action-renderer[ui-refresh] tp-yt-paper-toast.yt-notification-action-renderer,

/* End video suggestions */
.ytp-videowall-still-round-large .ytp-videowall-still-image,

/* End video cards */
.ytp-ce-video.ytp-ce-medium-round, .ytp-ce-playlist.ytp-ce-medium-round, .ytp-ce-medium-round .ytp-ce-expanding-overlay-background,

/* Create a post */
ytd-backstage-post-dialog-renderer[is-creation-dialog][rounded-container],

/* Survey */
ytd-inline-survey-renderer[rounded-container] #dismissible.ytd-inline-survey-renderer,

/* Clip panel */
ytd-engagement-panel-section-list-renderer[modern-panels],

/* Share URL */
yt-copy-link-renderer[rounded-container] #bar.yt-copy-link-renderer {
    border-radius: var(--border-radius) !important;
}

/* Miniplayer */
.ytp-player-minimized.ytp-rounded-miniplayer .html5-main-video,
.ytp-player-minimized.ytp-rounded-miniplayer .ytp-miniplayer-scrim,
.ytp-player-minimized.ytp-rounded-miniplayer.html5-video-player {
    border-radius: 0 !important;
}

/* Community poll */
ytd-backstage-poll-renderer:not([is-image-poll]) .choice-info.ytd-backstage-poll-renderer {
    border-radius: 0 !important; /* Used to be 4px */
}

/* Help bubble */
yt-bubble-hint-renderer[rounded-container] {
    border-radius: 4px !important; /* Used to be 12px */
}

/* Buttons */
.yt-spec-touch-feedback-shape,
.yt-spec-button-shape-next--size-m {
    border-radius: 2px !important;
}

/* Chips */
yt-chip-cloud-chip-renderer[modern-chips][chip-style] {
    border-radius: 4px !important;
}